@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    /* A cada 1rem será 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 60vw 40vw;
    font-size: 1.6rem;
}

aside { 
    text-align: center;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.social-media { 
    display: flex;
    flex-direction: column;
    font-size: 6.4rem;
}

div > a > i {
    margin: 0px 10px;
    cursor: pointer;
}


#facebook { color: #46536C }
#google { color: #DF4D3A }
#linkedin { color: #46536C }


aside > article > h1 { 
    font-size: 6.4rem;
    color: rgb(27, 26, 26);
}

aside > article > h2 { 
    font-size: 2.56rem;
    font-weight: 300;
    color: rgb(85, 85, 85);
}

aside > article > form { 
    display: flex;
    flex-direction: column;
}

aside > article > form > input { 
    margin: 15px;
    padding: 2.5rem;
    border: none;
    outline: none;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

aside > article > form > input::placeholder { 
    font-weight: 600;
    font-size: 1.76rem;
    font-family: 'Poppins', sans-serif;
}

.input-button { 
    width: 180px;
    margin: auto;
    background-color: rgb(12, 182, 145);
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.92rem;
    border-radius: 30px;
    border: none;
    padding: 1.5rem;
    margin-top: 15px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.171);
    cursor: pointer;
    transition: 0.2s;
}

section > a > button { 
    width: 180px;
    margin: auto;
    background-color: white;
    color: rgb(42, 40, 40);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.92rem;
    border-radius: 30px;
    border: none;
    padding: 1.5rem;
    margin-top: 15px;
    box-shadow: 1px 1px 8px rgba(15, 15, 15, 0.26);
    cursor: pointer;
    transition: 0.2s;
}

.input-button:hover { 
    background-color: rgb(10, 138, 110);
}

.login-options { 
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.login-options > a, .login-options > p {
    color: black;
    text-decoration: none;
    font-size: 2.0rem;
    cursor: pointer;
}

.login-options > a:hover, .login-options > p:hover {
    text-decoration: underline;
}

.register {
    display: none;
}

section { 
    background-image: linear-gradient(to right, #39B693, #3BA9AE);
    text-align: center;
    height: 100vh;
    display: grid;
    grid-gap: 40px;
    align-content: center;
    color: white;
    padding-top: 7.5rem;
}

section > h3 {
    font-size: 8rem;
}

section > h4 {
    font-size: 2.72rem;
    font-weight: 300;
    width: 100%;
    text-justify: justify;
}

section > a > button:hover { 
    background-color: rgb(236, 236, 236);
}

@media (max-width: 1650px)
{
    html {
        font-size: 55%;
    }
}

@media (max-width: 1400px)
{
    html {
        font-size: 50%;
    }
}

@media (max-width: 1270px)
{
    html {
        font-size: 45%;
    }
}

@media (max-width: 1149px)
{
    html {
        font-size: 43%;
    }

    body { 
        grid-template-columns: 50vw 50vw;
    }
}

@media (max-width: 960px)
{
    html {
        font-size: 43%;
    }
}

@media (max-width: 900px)
{
    body {
        display: block;
    }

    .register {
        display: flex;
    }
}